.hidden{ display: none; }

.pagination{ 
	list-style-type: none; 
	display: inline-flex;
	list-style:none;
	padding:0;
}

.pagination li{
	padding: 4px;
    color: #000;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14);
    border-radius: 3px;
    width: 30px;
    text-align: center;
    margin: 0 3px 0 3px;
    transition: all 0.2s;
    cursor: pointer;
    background-color: #fff;
}

.pagination .active{
    background-color: rgba(158,158,158,.2) !important;
}

.pagination li:hover{
    -ms-transform: scale(1.2, 1.2); /* IE 9 */
    -webkit-transform: scale(1.2, 3); /* Safari */
    transform: scale(1.2, 1.2);
    color: #fff;
    background-color:rgba(158,158,158,.2);
}
.pagination li a{
	color: #000;
    text-decoration: none;
    font-size: 18px;
}

.pagination li:hover a{
    color: #fff;
}

.progress{
    left: 30%;
}

.progress .bar1{
    background-color: #000 !important;
}

.mdl-textfield__label,
.mdl-textfield--floating-label{
    color: #fff !important;
}

.charCard{
    width: 256px;
    height: 256px;
    margin: auto;
    cursor: pointer;
}

.infoSpan{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin : 0 3px 0 3px;
}